body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-book-antiqua: "Book Antiqua";
  --font-inherit: inherit;
  --font-inter: Inter;

  /* font sizes */
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-11xl: 30px;
  --font-size-xl: 20px;
  --font-size-63xl: 82px;
  --font-size-mid: 17px;
  --font-size-4xl: 23px;
  --font-size-6xl: 25px;
  --font-size-36xl: 55px;
  --font-size-21xl: 40px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue: #445fc1;
  --color-gray: #1e1e1e;
  --color-dimgray: #585454;
  --color-black: #000;
  --color-darkslategray: #3d3b3b;

  /* Paddings */
  --padding-14xl: 33px;

  /* border radiuses */
  --br-7xl: 26px;
  --br-4xl: 23px;
}
