.home-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 750px;
}
.home-item {
  position: absolute;
  top: 93.29px;
  left: 495.23px;
  border-radius: 213px;
  width: 944.77px;
  height: 656.71px;
}
.pngegg-1-icon {
  position: absolute;
  top: 206px;
  right: 61px;
  width: 878px;
  height: 544px;
  object-fit: cover;
}
.login {
  position: absolute;
  right: 0;
  width: 88.91px;
  height: 43px;
}
.cars,
.contact-us,
.login {
  top: 0;
  display: inline-block;
}
.contact-us {
  position: absolute;
  right: 114.47px;
  width: 175.59px;
  height: 43px;
}
.cars {
  right: 315.62px;
  width: 87.8px;
}
.cars,
.home1,
.nav {
  position: absolute;
  height: 43px;
}
.home1 {
  top: 0;
  right: 428.98px;
  display: inline-block;
  width: 100.02px;
}
.nav {
  top: 50px;
  right: 100px;
  width: 529px;
  color: var(--color-gray);
}
.deal {
  color: var(--color-royalblue);
}
.cardeal {
  top: 50px;
  left: 100px;
  font-size: var(--font-size-36xl);
  font-family: var(--font-book-antiqua);
  width: 237px;
  height: 74px;
  color: var(--color-gray);
}
.brand-new,
.cardeal,
.lorem-ipsum-is,
.suv-1 {
  position: absolute;
  display: inline-block;
}
.suv-1 {
  top: 359px;
  left: 93px;
  font-size: 99px;
  width: 295px;
  height: 96px;
}
.brand-new,
.lorem-ipsum-is {
  left: 100px;
}
.brand-new {
  top: 331px;
  font-size: 29px;
  width: 270px;
  height: 35px;
}
.lorem-ipsum-is {
  top: 478px;
  font-size: var(--font-size-xl);
  width: 355px;
  height: 139px;
}
.home,
.nav-child {
  position: absolute;
  top: 0;
  left: 0;
}
.home {
  width: 1440px;
  height: 750px;
  overflow: hidden;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.nav-child {
  width: 100%;
  right: 0;
  background-color: var(--color-white);
  height: 200px;
}
.nav-inner,
.nav-item,
.vector-icon {
  position: absolute;
  width: calc(100% - 1436px);
  top: 28px;
  right: 925px;
  left: 511px;
  max-width: 100%;
  overflow: hidden;
  height: 136px;
}
.nav-inner,
.vector-icon {
  right: 511px;
  left: 925px;
}
.vector-icon {
  width: calc(100% - 256px);
  top: 0;
  right: 256px;
  left: 0;
  height: 100px;
}
.search {
  margin: 0;
}
.search-inventory1 {
  position: absolute;
  width: calc(100% - 130px);
  top: 0;
  left: 130px;
  display: inline-block;
  height: 105px;
}
.search-inventory,
.vector-icon1 {
  position: absolute;
  width: calc(100% - 1084px);
  top: 46px;
  right: 956px;
  left: 128px;
  height: 105px;
}
.vector-icon1 {
  width: calc(100% - 250px);
  top: 0;
  right: 250px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
}
.build-price-container {
  position: absolute;
  width: calc(100% - 124px);
  top: 0;
  left: 124px;
  display: inline-block;
  height: 105px;
}
.build-search,
.vector-icon2 {
  position: absolute;
  width: calc(100% - 1090px);
  top: 46px;
  right: 537px;
  left: 553px;
  height: 105px;
}
.vector-icon2 {
  width: calc(100% - 266px);
  top: 0;
  right: 266px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 107px;
}
.nearest-dealership {
  position: absolute;
  width: calc(100% - 122px);
  top: 4px;
  left: 122px;
  display: inline-block;
  height: 105px;
}
.near-dealer {
  position: absolute;
  width: calc(100% - 1092px);
  top: 42px;
  right: 125px;
  left: 967px;
  height: 109px;
}
.footer-child,
.nav1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.nav1 {
  top: 750px;
  height: 200px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-child {
  bottom: 0;
  background-color: var(--color-black);
  height: 666px;
}
.cardeal1 {
  position: absolute;
  width: calc(100% - 1203px);
  bottom: 592.74px;
  left: 100px;
  font-size: var(--font-size-36xl);
  display: inline-block;
  height: 49.47px;
  color: #e7e7e7;
}
.footer-inner,
.footer-item {
  position: absolute;
  width: calc(100% - 196px);
  right: 98px;
  bottom: 574.57px;
  left: 98px;
  max-width: 100%;
  overflow: hidden;
  height: 4px;
}
.footer-inner {
  bottom: 86.48px;
}
.all-right-reserved,
.copyright-2023-cardeal {
  position: absolute;
  width: calc(100% - 1182px);
  bottom: 51.38px;
  left: 116px;
  font-size: var(--font-size-4xl);
  color: var(--color-darkslategray);
  display: inline-block;
  height: 20.93px;
}
.all-right-reserved {
  left: 1066px;
  text-align: right;
}
.icon {
  position: absolute;
  width: calc(100% - 1143.62px);
  right: 132.62px;
  bottom: 593.01px;
  left: 1011px;
  max-width: 100%;
  overflow: hidden;
  height: 39.69px;
}
.careers1 {
  color: inherit;
}
.careers {
  margin-bottom: 0;
}
.plant-tours {
  color: var(--font-inherit);
}
.careers-about-us-our-company-t {
  margin: 0;
  padding-left: var(--padding-14xl);
}
.about-toyota-careers-container {
  position: absolute;
  width: calc(100% - 1163px);
  bottom: 211.22px;
  left: 135px;
  font-family: var(--font-inherit);
  display: inline-block;
  height: 300.65px;
}
.what-fits-my {
  text-decoration: underline;
}
.shopping-tools-trade-in-container,
.vehicles-all-toyota-container {
  position: absolute;
  width: calc(100% - 1043px);
  bottom: 153.18px;
  left: 913px;
  font-family: var(--font-inherit);
  display: inline-block;
  height: 358.69px;
}
.vehicles-all-toyota-container {
  width: calc(100% - 1144px);
  bottom: 155.08px;
  left: 548px;
  height: 356.79px;
}
.about-us-child,
.footer {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer {
  height: 666px;
  font-size: var(--font-inherit);
  color: var(--font-inherit);
}
.about-us-child {
  background-color: var(--color-white);
  height: 800px;
}
.ford-bronco-raptor-1-icon,
.group-child {
  position: absolute;
  bottom: 278px;
  height: 250px;
}
.group-child {
  width: 100%;
  right: -992px;
  left: 992px;
  background-color: var(--color-royalblue);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.ford-bronco-raptor-1-icon {
  width: calc(100% - 495px);
  right: 495px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.featured-story,
.featured-story1,
.featured-story2 {
  position: absolute;
  width: calc(100% - 840px);
  display: inline-block;
  height: 25px;
}
.featured-story {
  bottom: 454px;
  left: 529px;
  color: var(--color-white);
}
.featured-story1,
.featured-story2 {
  bottom: 137px;
  left: 556px;
}
.featured-story2 {
  left: 25px;
}
.deal2 {
  color: var(--color-black);
}
.cardeal2 {
  position: absolute;
  width: calc(100% - 817px);
  bottom: 403px;
  left: 529px;
  font-size: 45px;
  display: inline-block;
  height: 41px;
  color: var(--color-white);
}
.btn-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  height: 48.22px;
}
.learn-more {
  position: absolute;
  width: calc(100% - 73.89px);
  bottom: 14px;
  left: 37.33px;
  display: inline-block;
  height: 20.22px;
}
.btn {
  position: absolute;
  width: calc(100% - 817px);
  right: 288px;
  bottom: 330.78px;
  left: 529px;
  height: 48.22px;
  font-size: var(--font-size-mid);
}
.group-item {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 250px;
  object-fit: cover;
}
.learn-more1 {
  position: absolute;
  width: calc(100% - 73px);
  bottom: 14.22px;
  left: 37px;
  display: inline-block;
  height: 20px;
}
.btn1 {
  position: absolute;
  width: calc(100% - 298px);
  right: 265px;
  bottom: 25.78px;
  left: 33px;
  height: 48.22px;
}
.service-center {
  position: absolute;
  width: calc(100% - 242px);
  bottom: 80px;
  left: 37px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  height: 42px;
}
.rectangle-group {
  position: absolute;
  width: calc(100% - 519px);
  right: 0;
  bottom: 0;
  left: 519px;
  height: 250px;
  font-size: var(--font-size-mid);
}
.rectangle-parent {
  position: absolute;
  width: calc(100% - 448px);
  right: 224px;
  bottom: 41px;
  left: 224px;
  height: 528px;
}
.about-us5 {
  position: absolute;
  width: calc(100% - 544px);
  bottom: 63.5px;
  left: 284px;
  display: inline-block;
  height: 85px;
}
.features-story,
.offers-services,
.vehicle-technology {
  position: absolute;
  width: calc(100% - 665px);
  bottom: 0;
  left: 366px;
  display: inline-block;
  height: 33px;
}
.features-story,
.vehicle-technology {
  width: calc(100% - 608px);
  left: 0;
}
.features-story {
  width: calc(100% - 675px);
  left: 675px;
  color: var(--color-black);
}
.offers-services-parent {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 8.5px;
  left: 0;
  height: 33px;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray);
}
.about-us-item {
  position: absolute;
  width: calc(100% - 686px);
  right: 12px;
  bottom: -1px;
  left: 674px;
  max-width: 100%;
  overflow: hidden;
  height: 2.5px;
}
.about-us4 {
  position: absolute;
  width: calc(100% - 535px);
  right: 268px;
  bottom: 616.5px;
  left: 267px;
  height: 148.5px;
  font-size: var(--font-size-63xl);
}
.learn-more2 {
  position: absolute;
  width: calc(100% - 67px);
  bottom: 14.22px;
  left: 34px;
  display: inline-block;
  height: 20px;
}
.btn2 {
  position: absolute;
  width: calc(100% - 298px);
  right: 273px;
  bottom: 25.78px;
  left: 25px;
  height: 48.22px;
}
.easy-to-buy {
  position: absolute;
  width: calc(100% - 242px);
  bottom: 80px;
  left: 31px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  height: 42px;
}
.rectangle-container {
  position: absolute;
  width: calc(100% - 967px);
  right: 743px;
  bottom: 41px;
  left: 224px;
  height: 250px;
  font-size: var(--font-size-mid);
}
.about-us3,
.explore-all-vehicles {
  position: absolute;
  width: 100%;
  left: 0;
}
.about-us3 {
  right: 0;
  bottom: 662px;
  height: 800px;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.explore-all-vehicles {
  top: 0;
  display: inline-block;
  height: 85.57px;
}
.line-icon {
  position: absolute;
  width: calc(100% - 606px);
  top: 37.29px;
  right: 328px;
  left: 278px;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
}
.electric-vehicle,
.hyper-car,
.suv {
  position: absolute;
  top: 0;
  display: inline-block;
}
.suv {
  width: calc(100% - 611px);
  left: 282px;
  color: var(--color-black);
  height: 33.22px;
}
.electric-vehicle,
.hyper-car {
  width: calc(100% - 461px);
  left: 0;
  height: 28.19px;
}
.hyper-car {
  width: calc(100% - 447px);
  left: 447px;
  height: 33.22px;
}
.vector-parent {
  position: absolute;
  width: calc(100% - 90px);
  top: 135px;
  right: 45px;
  left: 45px;
  height: 38.29px;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray);
}
.explore-more-veh {
  position: absolute;
  width: calc(100% - 673px);
  top: 1040px;
  right: 302px;
  left: 371px;
  height: 173.29px;
  font-size: var(--font-size-63xl);
  color: var(--color-black);
}
.car1-child,
.car1-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
}
.car1-child {
  background-color: var(--color-gray);
  width: 575px;
}
.car1-item {
  width: 357px;
  object-fit: cover;
}
.p,
.tacoma {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.tacoma {
  font-size: var(--font-size-11xl);
}
.built-to-take {
  margin: 0;
  font-size: var(--font-size-mini);
}
.tacoma-built-to-container {
  position: absolute;
  top: 19px;
  left: 366px;
  letter-spacing: 0.12em;
  display: inline-block;
  width: 198px;
  height: 217px;
  font-size: var(--font-size-xl);
}
.p1 {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.starting-msrp-container,
.up-to-est-container {
  position: absolute;
  top: 236px;
  left: 366px;
  display: inline-block;
  width: 96px;
}
.up-to-est-container {
  left: 468px;
}
.explore-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xl);
  background-color: var(--color-royalblue);
  width: 161px;
  height: 45.01px;
}
.explore-more {
  position: absolute;
  top: 11.25px;
  left: 20.77px;
  display: inline-block;
  width: 124.65px;
  height: 22.51px;
}
.explore-btn {
  position: absolute;
  top: 318px;
  left: 384px;
  width: 161px;
  height: 45.01px;
  font-size: var(--font-size-lgi);
}
.car1,
.car11,
.car12,
.car13,
.car14,
.car15 {
  position: absolute;
  top: 1301px;
  left: 765px;
  width: 575px;
  height: 400px;
}
.car11,
.car12,
.car13,
.car14,
.car15 {
  top: 1789px;
}
.car12,
.car13,
.car14,
.car15 {
  top: 2277px;
}
.car13,
.car14,
.car15 {
  left: 100px;
}
.car14,
.car15 {
  top: 1784px;
  left: 102px;
}
.car15 {
  top: 1301px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4199px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-book-antiqua);
}
